name: Deploy Backend to EC2

on:
  push:
    branches:
      - main # O la rama que quieras que dispare el deploy

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: 18.223.33.200
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd ~/virtual-pet-backend
            git pull origin main
            sudo docker compose down
            sudo docker compose up --build -d
